/* Custom Styles */
body {
    font-family: 'Roboto', sans-serif; /* Primary Font */
    padding-top: 56px;
    background-color: #f8f9fa;
    background-image: url("background-pattern.png");
    color: #333; /* Darker text for readability */
    line-height: 1.6;
}

/* Section Titles */
.section-title {
    font-family: 'Poppins', sans-serif; /* Title Font */
    font-weight: 600;
    color: #343a40; /* Dark grey for titles */
    text-align: center;
    margin-bottom: 1.5rem;
}

/* Section Descriptions */
.section-description {
    font-size: 1.1rem;
    color: #555;
}

.jumbotron {
    padding-top: 6rem;
    padding-bottom: 6rem;
    background: linear-gradient(to right, rgb(76, 63, 102), #5812d0, rgb(76, 63, 102));
    color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.jumbotron .social-links a {
    margin: 0 0.5rem;
    transition: color 0.3s ease;
}

.jumbotron .social-links a:hover {
    color: #ffc107;
}

#about,
#education,
#experience,
#projects,
#skills,
#certifications,
#contact {
    padding: 3rem 0;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background-color: #343a40;
    font-size: 0.9rem;
}

.img-thumbnail {
    border-width: 3px;
    border-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease;
}

.img-thumbnail:hover {
    transform: scale(1.1);
}

/* Animated Sections */
.animate__animated {
    animation-duration: 1s;
}

/* Project Carousel */
.project-carousel {
    width: 80%;
    margin: 0 auto;
}

.project-carousel .card {
    margin: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    border: none;
}

.project-carousel .card:hover {
    transform: translateY(-5px);
}

/* Experience Section List */
#experience ul {
    list-style: none;
    padding-left: 0;
}

#experience ul li {
    margin-bottom: 0.5rem;
}

/* Skills Section List */
#skills ul {
    list-style: none;
    /* padding-left: 0; */
}

#skills ul li {
    margin-bottom: 0.3rem;
}

/* Contact Section */
#contact {
    text-align: center;
}

/* Add project-card class to project cards */
.project-card {
    border-radius: 10px;
}

#skills{
    
}